{% if site.enable_tooltips %}
  <!-- Enable Tooltips -->
  <script type="text/javascript">
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
  </script>
{%- endif %}

{%- if site.enable_medium_zoom %}
  <!-- Medium Zoom JS -->
  <script defer src="{{ '/assets/js/medium-zoom.min.js' | relative_url }}" type="text/javascript"></script>
  <script defer src="{{ '/assets/js/zoom.js' | relative_url }}"></script>
{%- endif -%}

{% if page.toc and page.toc.sidebar %}
  <!-- Sidebar Table of Contents -->
  <script defer src="{{ '/assets/js/bootstrap-toc.min.js | relative_url }}"></script>
{% endif %}

  <!-- Bootstrap Table -->
  <script defer src="{{ '/assets/js/bootstrap-table.min.js' | relative_url }}" type="text/javascript"></script>

  <!-- Load Common JS -->
  <script src="{{ '/assets/js/no_defer.js' | relative_url | bust_file_cache }}"></script>
  <script defer src="{{ '/assets/js/common.js' | relative_url | bust_file_cache }}"></script>
  <script defer src="{{ '/assets/js/copy_code.js' | relative_url | bust_file_cache }}" type="text/javascript"></script>
