    <!-- Metadata, OpenGraph and Schema.org -->
    {% include metadata.html %}

    <!-- Bootstrap & MDB -->
    <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/mdb.min.css' | relative_url }}" />

    <!-- Bootstrap Table -->
    <link defer rel="stylesheet" href="{{ '/assets/css/bootstrap-table.min.css' | relative_url }}">

    <!-- Fonts & Icons -->
    <link rel="stylesheet" href="{{ '/assets/css/fontawesome.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/academicons.min.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/googlefonts.css' | relative_url }}">

    <!-- Code Syntax Highlighting -->
    <link rel="stylesheet" href="/assets/css/{{ site.highlight_theme_light | append: '.css' }}" media="" id="highlight_theme_light" />

    {% if page.toc and page.toc.sidebar %}
    <!-- Sidebar Table of Contents -->
    <link href="{{ '/assets/css/bootstrap-toc.min.css' | relative_url }}" rel="stylesheet" />
    {% endif %}

    <!-- Styles -->
    {% if site.icon.size <= 4 %}
    <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.icon }}</text></svg>">
    {% elsif site.icon != blank %}
    <link rel="shortcut icon" href="{{ site.icon | prepend: '/assets/img/' | relative_url}}"/>
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url | bust_css_cache }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <!-- Dark Mode -->
    {% if site.enable_darkmode %}
    <link rel="stylesheet" href="/assets/css/{{ site.highlight_theme_dark | append: '.css' }}" media="none" id="highlight_theme_dark" />
    <script src="{{ '/assets/js/theme.js' | relative_url | bust_file_cache }}"></script>
    <script src="{{ '/assets/js/dark_mode.js' | relative_url | bust_file_cache }}"></script>
    {% endif %}


    {% if page.include_plotly %}
    <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
    <script src="{{ '/assets/js/plotly.js' | relative_url }}" type="text/javascript"></script>
    
    {% endif %}