---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv"
;

blockquote { font-size: 1rem;}

.rsba-scenario-affected{
  font-weight: 400;
  color:#ff8c14;
}
.rsba-scenario-characteristics{
  font-weight: 400;
  color: #bf2aff;
}
.rsba-scenario-harm{
  font-weight: 400;
  color: #f02878;
}
.rsba-scenario-platform{
  font-weight: 400;
  color: #6d7682;
}
.rsba-scenario-macro{
  font-weight: 400;
  color: #26c34e;
}